**/gen/
**/edmx/
*.db
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml
integration-tests/.factorypath
.vscode
.idea

# ignoring makefiles
Mak*
# ignoring package-lock.json files
package-lock.json
*/package-lock.json
**/package-lock.json
.DS_Store
srv/.factorypath